@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* Univarsal style  */
* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;
}

/* shered style  */

.logo h1 {
    font-size: 45px;
    font-weight: 900;
}

.color-orenge {
    color: #FD6E0A;
}

.btn {
    padding: 18px 23px;
    background-color: #FD6E0A;
    font-size: 20px;
    border-radius: 5px;
    color: white;
    border: none;
    font-weight: bold;
    cursor: pointer;
}



/* header style  */

header {
    background-color: #FFF8F3;
    padding-top: 50px;
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}

nav {
    width: 71%;
    max-width: 1140px;
    /* border: 1px solid red; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    gap: 51px;
    align-items: center;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    font-size: 20px;
    color: #474747;
    text-decoration: none;
}
#banner{
    /* border: 1px solid red; */
    margin: 155px 13px 0 243px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#banner .banner-content{
    height: 356px;
    width: 585px;
}
#banner .banner-content h2{
    font-weight: 600;
    font-size: 45px;
    color: #474747;
    margin-bottom: 5px;
}
#banner .banner-content h1{
    color: #181818;
    font-weight: bold;
    font-size: 85px;
    margin-bottom: 20px;
}
#banner .banner-content p{
    font-size: 18px;
    line-height: 30px;
    color: #757575;
    margin-bottom: 30px;
}
.banner-image img{
    height: 676px;
    width: 584px;
    vertical-align: middle;
}
#about{
    width: 71%;
    max-width: 1140px;
    padding-top: 130px;
    margin: 0 auto;
}
#about .about-container{
    background-color: #FFF8F3;
    text-align: center;
    padding: 131px 157px;
}
#about .about-container .section-heading h2{
    font-weight: bold;
    font-size: 35px;
    color: #181818;
    margin-bottom: 30px;
}
#about .about-container .section-heading p{
    font-size: 18px;
    line-height: 30px;
    color: #757575;
    margin-bottom: 30px;

}
#about .about-container .section-info{
    display: flex;
    justify-content: center;
    gap: 50px;
}
#about .about-container .section-info p{
    color: #757575;
    font-size: 20px;
    line-height: 30px;
}
.skills{
    padding-top: 130px;
}
.skills .skills-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
}
.skills .skills-container .skills-heading{
    text-align: center;
}
.skills .skills-container .skills-heading h2{
    font-weight: bold;
    font-size: 35px;
    color: #181818;
    margin-bottom: 30px;
}
.skills .skills-container .skills-heading p{
    font-size: 18px;
    line-height: 30px;
    color: #757575;
    margin-bottom: 50px;
}
.skills .skills-container .skill-box{
    display: flex;
    gap: 40px;

}
.skill-box .skill-card{
    /* border: 1px solid red; */
    padding: 30px;
    box-shadow: 0px 6px 50px #0000001e;
    background-color: #FFFFFF;
}
.skill-card img{
    margin-bottom: 30px;
    max-width: 44px;
}
.skill-card h3{
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 20px;
    color: #181818;
}
.skill-card p{
    font-size: 16px;
    line-height: 28px;
    color: #757575;
}